body{
    background:#2f2f2f;
    font-family: 'Ubuntu', sans-serif;
    color:white;
    text-align:center;
    padding-top:30px;
}

h1{
    font-size:35px;
    margin-bottom:20px;
}

.calc{
    width:350px;
    margin:auto;
    background:#1e1e1e;
    padding:25px;
    border-radius:18px;
    box-shadow:0 0 25px #000;
}

#screen{
    width:100%;
    height:60px;
    background:#dcdcdc;
    color:black;
    font-size:28px;
    text-align:right;
    padding:10px;
    border:none;
    border-radius:10px;
    margin-bottom:15px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:8px;
}

button{
    height:55px;
    font-size:20px;
    border-radius:10px;
    border:none;
    background:#3a3a3a;
    color:white;
    cursor:pointer;
    box-shadow:0 3px 6px #000;
}

button:active{
    transform:scale(0.95);
}

.op{
    color:#4dff4d;
    font-weight:bold;
}

.clr{
    color:#ff4b4b;
    font-weight:bold;
}

.equal{
    background:#5ec4b8;
    color:black;
    font-weight:bold;
}

.sci{
    background:#444;
    color:#9bdbff;
    font-weight:bold;
}
